@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
[type="text"],
  [type="email"],
  [type="password"],
  [type="number"],
  [type="search"],
  [multiple],
  textarea,
  select {
    @apply transition duration-200  h-[54px] py-2 font-medium w-full bg-transparent text-black  border-b-2 border-black dark:border-[#FFFFFF] dark:text-white;
  }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [multiple]:focus,
  [type="email"]:focus-visible,
  [type="password"]:focus-visible,
  [type="number"]:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    @apply shadow-none ;
    --tw-ring-color: #f3f4f4 !important;
    --tw-ring-shadow: unset !important;
    outline: unset !important;
  }

}
@layer components{

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark:has(h1, h2, h3,h4,h5,h6,p,a,strong,span,li,label){
    color: white ;
  }

    .btn{
        @apply h-[49px] px-10 rounded-[10px] w-full capitalize transition duration-300  py-1.5 ;
    } 
    .btn-primary{
        @apply text-white bg-[#349795] dark:text-black dark:bg-[#83E6D9];
    }
.subtitle1 {
    @apply text-[16px] font-normal;
    line-height: 1.3;
  }


}